h1 {
  color: #144d53;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
}

h2, h3 {
  color: #1a3c40;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  line-height: 50px;
}

p {
  color: rgba(50, 50, 50, 0.8);
  font-family: 'Roboto', sans-serif;
}

a {
  color: rgba(50, 50, 50, 0.8);
}

a:hover {
  color: #307672;
  text-decoration: none;
}

img {
  width: 216px;
  height: 319px;
}

body {
  color: #1a3c40;
  background-color: #e4eddb;
}

 #img-profile {
  width: 150px;
  height: 150px;
  border: 3px solid #e4eddb;
 }

 .img-circle {
  border-radius: 150px;
 }

 .card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  width: 500px;
  margin: 20px auto;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #307672;
 }

 .text-center {
  text-align: center;
 }

 .btn-blue {
  background-color: #307672;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 8px;
 }

 .btn-blue:hover {
  color: #1a3c40;
  text-decoration: none;
 }


